workflow/Agent_Dhruva.json
{
  "name": "Agent Dhruva",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "a4e6b8f0-cf9c-47ba-8794-84de8032668a",
      "name": "When clicking 'Chat' button below",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1080,
        540
      ],
      "webhookId": "c998eead-df1b-4384-86a8-a8a71d5933a9",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        740
      ],
      "id": "7cae287a-16ad-45ac-90d7-6fb245e79c18",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZEbZvEtc08hblw1T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2080,
        860
      ],
      "id": "f7e286ef-073b-472b-926b-d5d0cb44ca8f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "HMJFZ23wjiB7MJBc",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "OrderManagementTool",
        "description": "Call this tool to update an order or manage or submit an existing order.",
        "workflowId": {
          "__rl": true,
          "value": "q2h5eHl0ZqR0tpTI",
          "mode": "list",
          "cachedResultName": "Order Management Agent"
        },
        "fields": {
          "values": [
            {
              "name": "=sessionId",
              "stringValue": "={{ $json.sessionId }}"
            },
            {
              "name": "chatInput",
              "stringValue": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2260,
        660
      ],
      "id": "0a064470-37d2-4e55-8311-eaa7f352f226",
      "name": "Call Order Management Workflow Tool"
    },
    {
      "parameters": {
        "name": "restaurantMenu",
        "description": "Retrieves data about menu items"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2640,
        720
      ],
      "id": "0a525368-1e43-459f-95d4-946a99bb7c47",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "restaurantmenu",
          "mode": "list",
          "cachedResultName": "restaurantmenu"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2540,
        900
      ],
      "id": "22dd3c26-8dc9-47d4-80a3-2eeda4c7fc49",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LUyaRbSxGHEqwGca",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2380,
        1180
      ],
      "id": "3dc7542c-2237-4ed0-b3f7-63e689489ded",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZEbZvEtc08hblw1T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2900,
        900
      ],
      "id": "6f7a3fea-f871-4daa-bb09-57780e714860",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ZEbZvEtc08hblw1T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "158a0b91-534d-4745-b10e-8a7c97050861",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ba5af101-6b2f-46af-9fd1-a2394e0fc616",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"Please input text messages only at this time.\"\n}",
        "options": {}
      },
      "id": "44692286-98a3-486c-af3f-5f9cd90657c3",
      "name": "Respond With Initial Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1820,
        600
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI waiter at a restaurant. When a customer starts a chat, greet them warmly and introduce yourself. For example: 'Hello! Welcome to Agent Dhruva. I'm your AI waiter today. How can I assist you with your order?'\n\nOnce the customer is ready to order, use the provided menu data to assist them. For each item selected:\n\nConfirm the item's availability and price\n\nAsk for any customizations or special requests\n\nAdd the item to the order\n\nAfter each item is added, provide a brief summary of the current order, including:\n\nItems ordered\n\nQuantity of each item\n\nSubtotal\n\nThen, always ask: 'Would you like to add anything else to your order?'\n\nIf the customer says yes, continue the ordering process.\n\nIf the customer says no:\n\nSummarize the final order, including all items, quantities, and the total cost\n\nInform the customer that you're submitting their order\n\nUse the order management tool to submit the final order details\n\nConfirm to the customer that their order has been successfully submitted\n\nAfter submitting the order, thank the customer for their business and close the session. You can say something like: 'Thank you for dining with us! Your order has been successfully submitted. We appreciate your business and hope to serve you again soon. This chat session will now close.'\n\nMaintain a friendly and helpful tone throughout the interaction. If the customer has questions about menu items, provide concise descriptions and recommendations based on the menu data.\n\n## Tools\n\n- Order Management Tool - Execute this tool to submit the order."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2120,
        300
      ],
      "id": "f5c8319a-d6ba-4eb6-8cd9-119e4c38020e",
      "name": "Agent Dhruva"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Chat' button below": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Dhruva",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent Dhruva",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call Order Management Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent Dhruva",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent Dhruva",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agent Dhruva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond With Initial Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Dhruva": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "84886fa3-99b3-4147-a74c-423073cb98bd",
  "meta": {
    "templateId": "2180",
    "instanceId": "1e6b64eeab9835ec70487058318fb3652256da2dfbac2bff6f5e85eef0ca0a4e"
  },
  "id": "24Yn7rJ19Rfd5Eiv",
  "tags": [
    {
      "createdAt": "2025-02-23T08:37:48.399Z",
      "updatedAt": "2025-02-23T08:37:48.399Z",
      "id": "nPMIORuLwgOIiMGT",
      "name": "Dhruva"
    }
  ]
}